hr{
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.item1{grid-area: menu;}
.item2{grid-area: main;}
.item3{grid-area: main2;}

.grid-container{
    display: grid;
    grid-template-areas: 
        'menu main main main main main'
        'menu main2 main2 main2 main2 main2';
    gap: 10px;
    background-color: white;
    padding: 10px;
}

.grid-container > div{
    background-color: white;
    text-align: left;
    border: solid gainsboro;
    border-radius: 5px;
    padding: 20px 10px;
    font-size: 16px;
}

.grid-container > .item2{
    img{
        border: solid gainsboro;
        border-radius: 5px;
    }
    #bio{
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1
    }

    #bio:focus{
        background-color: #ddd;
        outline: none;
    }

    .update{
        box-sizing: border-box;
        width: 20%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1
    }
}

.grid-container > .item1{
    line-height: 40px;
    a{
        color: #000;
        text-decoration: none;
    }
    a:hover{
        color: gray;
    }
}

.edit_info{
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 5%;
    opacity: 0.9;
}

.edit_pic{
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    opacity: 0.9;
}

.save_but{
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0;
}

.grid-container > .item3{
    img{
        width: 20%;
        height: 20%;
    }
    button{
        font-size: 100%;
        color: #b700ff;
        background-color: #fff;
        border: 1px solid #b700ff;
        padding: 5px 20px;
    }
    button:hover{
        color: #fff;
        background-color: #b700ff;
        box-shadow: 0 0 20px #b700ff;
    }
}
