hr{
    border: 1px solid #b0b0b0;
    margin-bottom: 25px;
}

.item1{grid-area: main;}
.item2{grid-area: menu;}
.item3{
    grid-area: main2;
    * {box-sizing: border-box}
    .mySlides {display: none}
    img {vertical-align: middle;}

    /* Slideshow container */
    .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    }

    /* Next & previous buttons */
    .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #f2f2f2;
    background-color: rgba(0,0,0,0.8);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
    right: 0;
    border-radius: 3px 0 0 3px;
    
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
    background-color: #f2f2f2;
    color: black;
    }

    /* Caption text */
    .text {
    color: #f2f2f2;
    background-color: rgba(0,0,0,0.8);
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    }

    /* The dots/bullets/indicators */
    .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
    background-color: #717171;
    }

    
}

.mainContainer{
    display: grid;
    grid-template-areas: 
        'main2 main2 main2 main2 menu menu'
        'main main main main menu menu';
    gap: 10px;
    background-color: white;
    padding: 10px;
}

.mainContainer > div{
    background-color: white;
    text-align: left;
    border: solid gainsboro;
    border-radius: 5px;
    padding: 40px 20px;

    font-size: 20px;
    button{
        font-size: 100%;
        color: #b700ff;
        background-color: #fff;
        border: 1px solid #b700ff;
        padding: 5px 20px;
    }
    button:hover{
        color: #fff;
        background-color: #b700ff;
        box-shadow: 0 0 20px #b700ff;
    }
}

.eventimg{
    background-color: #333;
    grid-area: eventimg;
    img{
        height: 100%;
        width: 100%;
    }
}

.eventdesc{
    grid-area: main;
    padding: 10px;
}

.events{
    display: grid;
    grid-template-areas: 
        'eventimg eventimg main main main';
    gap: 10px;
    background-color: white;
    padding: 10px;
    p{
        max-lines: 3;
    }
}

.orgimg{
    background-color: #333;
    grid-area: orgimg;
    img{
        height: 100%;
        width: 100%;
    }
}

.orgdesc{
    grid-area: main;
    padding: 10px;
}

.orgs{
    display: grid;
    grid-template-areas: 
        'orgimg orgimg main main';
    gap: 10px;
    background-color: white;
    padding: 10px;
    p{
        max-lines: 2;
    }
}