#organizations ul {
    list-style: none;
    background-color: white;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#organizations li.organization {
    color: black;
    border: 3px solid #b700ff;
    border-radius: 10px;
    width: 30%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.organizationinfo {
    display: flex;
    align-items: flex-start;
}

#organizations img {
    width: 150px;
    height: auto;
    margin-right: 20px;
}

.organizationinfo-text {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.organizationheader, .organizationheader2 {
    display: flex;
    width: 100%;
    font-size: 20px;
}

.organizationheader {
    justify-content: space-around;
}

.organizationheader2 {
    justify-content: space-around;
    margin-top: 10px;
}

.organizationdescription {
    margin-top: 10px;
}

.filtersect{
    .btn{
        border: none;
        outline: none;
        padding: 12px 16px;
        background-color: gainsboro;
        cursor: pointer;
    }  
    .btn:hover{
        background-color: #b700ff;
    }
    .btn.active{
        background-color: #b700ff;
        color: white;
    }

    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.createanorganization {
    display: flex;
    justify-content: center;
    margin: auto;
}