body{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header{
    background-color: #b700ff;
    background-image: url("../images/headerBackground.jpg");
    color: #fff;
    font-size: 150%;
    padding: 1em;
    text-align: center;
    table{
      background-color: rgba(0, 0, 0, 0.8);
      border-radius: 7px;
      padding: 10px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      button{
        font-size: 100%;
        color: #b700ff;
        background-color: #fff;
        border: 1px solid #b700ff;
        padding: 5px 20px;
      }
      button:hover{
        color: #fff;
        background-color: #b700ff;
        box-shadow: 0 0 20px #b700ff;
      }
    }
}

footer{
    background-color: #333;
    color: #808080;
    font-size: 115%;
    padding: 1em;
    text-align: center;
    a{
      color: #808080;
    }
    img{
      width: 50px;
      filter: invert(25%);
    }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}
  
li {
  float: left;
  color: white;
}

li img.logo{
  width: 150px;
  padding: 0px 35px;
}

li a, form, .dropbtn {
  display: inline-block;
  color: white;
  font-size: 150%;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  img{
    filter: invert(10%);
  }
}

li input{
  display: inline-block;
  color: #fff;
  background-color: #333;
  text-align: left;
  padding: 5px 5px;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 4px;
}

li .search{
  display: inline-block;
  background-color: #fff;
  padding: 5px 5px;
  text-decoration: none;
  border: none;
  border-radius: 2px;
}

li .search:hover{
  background-color: #ddd;
}

li .log{
  color: #b700ff;
  background-color: #fff;
  border: 1px solid #b700ff;
  padding: 5px 20px;
  
}

li .log:hover{
  color: #fff;
  background-color: #b700ff;
  box-shadow: 0 0 20px #b700ff;
}

li .reg{
  color: #fff;
  background-color: #b700ff;
  border: 1px solid #b700ff;
  padding: 5px 20px;
}

li .reg:hover{
  box-shadow: 0 0 20px #b700ff;}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #000;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

/*requires javascript*/
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}